<header>
    <div id="pagewrap">
        <p id="back-top" style="display: block;">
            <a href="#top">
            </a>
        </p>
    </div>
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
        <ul>
            <li><a href="/" class="cmn-t-underline">Inicio</a></li>
            <li><a href="http://malcolmcordova.com/RedCLH/index.php" target="_blank" class="cmn-t-underline">Ingresar</a></li>
            <li><a href="/" class="cmn-t-underline">Contáctenos</a></li>
        </ul>

    </nav>

    <div class="clear"></div>
    <div class="container  tttt logoo" style="display: none;">
        <a href="/">
            <div class="sli header texto ttt1" id="sli1">
                <div class="logo2 Up">
                    <img src="./assets/img/logo-text.png" alt="logo ">
                </div>
            </div>
        </a>
    </div>
    <div class="clear"></div>
    <div class="container tttt">
        <a href="/">
            <div class="sli header ttt1">
                <div class="logocompleto "></div>

            </div>

        </a>
    </div>
</header>

<div class="main">
    <div class="container">
        <div id="showRightPush" class="menn">&#9776; </div>
    </div>
</div>