<div *ngIf="!paisrespuestaDatosv">
    <div class="noinfo">
        <img src="./assets/img/logo.jpg" alt="">
        <h2>no hay información</h2>
    </div>

</div>

<ng-template #loading>
    <div class="service-error">
        <h3>{{error}}</h3>
    </div>
</ng-template>

<div *ngIf="paisrespuestaDatosv">

    <div class="datos-victimas flex-container" *ngIf="paisrespuestaDatosv">
        <div class="item infografia infografia-titulo">
            <i class="fa fa-user"></i>
            <h2>Num. Victimas pais actual</h2>
            <h3>Total</h3>
            <h1>{{paisrespuestaDatosv.numDatosvictimas}}</h1>
        </div>
        <div class="item infografia">
            <i class="fa fa-user"></i>
            <h2>Género de las víctimas</h2>
            <div class="grafico-torta"></div>
            <div class="info-genero">
                <h3>Hombres</h3>
                <h1>{{paisrespuestaDatosv.generoVictimasHombre}}</h1>
                <h3>Mujeres</h3>
                <h1>{{paisrespuestaDatosv.generoVictimasMujer}}</h1>
            </div>
        </div>
        <div class="item infografia">
            <i class="fa fa-user"></i>
            <h2>Edad de las Víctimas</h2>
            <div class="cuadroinfo">
                <p>Niños</p>
                <h1>{{paisrespuestaDatosv.edadVictimaNino}}</h1>
            </div>
            <div class="cuadroinfo">
                <p>Jovenes</p>
                <h1>{{paisrespuestaDatosv.edadVictimaJoven}}</h1>
            </div>
            <div class="cuadroinfo">
                <p>Adultos</p>
                <h1>{{paisrespuestaDatosv.edadVictimaAdulto}}</h1>
            </div>
            <div class="cuadroinfo">
                <p>Ancianos</p>
                <h1>{{paisrespuestaDatosv.edadVictimaOld}}</h1>
            </div>
        </div>
        <div class="item infografia">
            <i class="fa fa-user"></i>
            <h2>Estatus migratorio</h2>
            <h3>Regulares: </h3>
            <h1>{{paisrespuestaDatosv.estatusMigratorioRegular}}</h1>
            <h3>Irregulares: </h3>
            <h1>{{paisrespuestaDatosv.estatusMigratorioIrregular}}</h1>
        </div>
        <div class="item infografia">
            <i class="fa fa-user"></i>
            <h2>Estatus de consulados</h2>
            <p [innerHTML]="paisrespuestaDatosv.estatusConsulado"></p>
        </div>
        <div class="item infografia">
            <i class="fa fa-user"></i>
            <h2>Estado de la integridad</h2>
            <h1>{{paisrespuestaDatosv.estadoIntegridad}}</h1>
        </div>
    </div>
</div>