<div id="myCarousel" class="carousel slide ">
    <!-- Indicators>
      <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      </ol-->

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="BannPpal1 sli header pagina parallax" data-movimiento="10" id="sli2" style="background-image: url('./assets/img/banner/Red.jpg');">
                <div class="container tttt">
                    <!--div class="sli header texto ttt1 t2 col-xs-12" id="sli1">
                      <div class="logo Up">
                          <img src="./assets/img/logo.jpg" >
                      </div>
                      <div class="clear"></div>
                      <div class="texto-banner ">
                          <div class="col-xs-12 doun">
                              <h2>Red de Documentación:</h2>
                              <h1 style="text-transform:uppercase"> Crímenes de Lesa Humanidad</h1>
                          </div>
                      </div>

                  </div-->
                </div>
            </div>
        </div>

        <!--a href="#sli3" class="ancla"><div class="mouseicon "></div></a-->
    </div>

</div>