<app-header></app-header>
<app-slider></app-slider>
<section class="mantengase sli flex " id="sli3">
    <app-mapa></app-mapa>
</section>
<!---Branding-->
<section class="soluciones sli flex hom">
    <div class="container">
        <!-- ============================================================== -->
        <!-- Informacion  -->
        <!-- ============================================================== -->
        <div class="row">
            <div ngclass="col-lg-12">
                <div class="card">
                    <div class="card-body">




                        <div class="d-flex no-block">
                            <div class="m-r-20 "></div>
                            <div class="align-self-center">

                                <app-lista-paises></app-lista-paises>

                            </div>
                        </div>
                        <!--informacion resultado-->
                        <div class="resultado ">
                            <div class="scrolling card-content">

                                <!---menu movil footer-->
                                <!--div class="navTabs ">
                                    <a [routerLink]="['detalles/datos-victimas']" routerLinkActive="active" class="itemNav"><i class="fa fa-check-circle"></i> <p>Datos Victímas</p></a>
                                    <a [routerLink]="['detalles/crimenes-lh']" routerLinkActive="active" class="itemNav"><i class="fa fa-check-circle"></i><p>Crimenes LH</p></a>
                                    <a [routerLink]="['detalles/violaciones-ddhh']" routerLinkActive="active" class="itemNav"><i class="fa fa-check-circle"></i><p>Violaciones DDHH</p></a>
                                </div>
                                <router-outlet></router-outlet-->

                                <div id="navtabsbootstrap">

                                    <!-- Nav tabs-->
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#datos" aria-controls="datos" role="tab" data-toggle="tab">Datos Víctimas</a></li>
                                        <li role="presentation"><a href="#lessages" aria-controls="lessages" role="tab" data-toggle="tab">Crímenes LH</a></li>
                                        <li role="presentation"><a href="#ddhh" aria-controls="ddhh" role="tab" data-toggle="tab">Violaciones DDHH</a></li>
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <!-- Datos Victimas-->
                                        <div role="tabpanel" class="tab-pane active" id="datos">
                                            <app-datos-victimas></app-datos-victimas>
                                        </div>
                                        <!-- Violaciones DDHH-->
                                        <div role="tabpanel" class="tab-pane" id="ddhh">
                                            <app-violaciones-ddhh></app-violaciones-ddhh>

                                        </div>
                                        <!-- Crimenes LH-->
                                        <div role="tabpanel" class="tab-pane" id="lessages">
                                            <app-crimene-lh></app-crimene-lh>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <!--informacion-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!---// Branding-->


<script>
    //info lateral
    $(document).ready(main);

    function main() {
        $('#paperRegions').hide();
    }
</script>

<app-footer></app-footer>